.campaign-container {
  > .price {
    font-size: 35px;
    font-weight: bold;
  }
  > .title {
    width: 50%;
    margin: 2% auto;
    font-size: 15px;
    font-weight: bold;
    padding: 1%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  //分ける
  > .campaign {
    width: 55%;
    height: auto;
    margin: 0 auto;
    display: flex;
    background-color: white;
  }
  > .campaign > .item {
    width: 20%;
    margin: 3% auto;
    background-color: white;
  }
  > .campaign > .item > .name {
    font-size: 15px;
    font-weight: bold;
    background-color: #f1f1f1;
    padding: 3% 0;
  }

  > .campaign > .item > .message {
    font-size: 15px;
    font-weight: bold;
    padding: 5% 0;
  }

  //分ける
  > .wrapper {
    width: 55%;
    margin: 0 auto;
  }
  > .wrapper > .diagnosis-button {
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    margin: 1rem 0;
    padding: 3% 0;
  }
}
