.feedback-carousel-container{
  width: 90%;
  margin: 5% auto;
  height: auto;
  background-color: white;

.title{
  font-family: initial;
  font-size: 30px;
  margin: 3% 0;
}
//vue-carosel固有のクラス名
.VueCarousel-navigation-next,
.VueCarousel-navigation-prev
{
  font-size:1.5rem;
 font-weight: bold;
}

}
