.footer-block {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 4% 0 2%;
  display: flex;

  .logo {
    width: 20%;
  }

  .logo > .image {
    width: 120px;
    height: auto;
  }
  
  .sns {
    width: 10%;
    display: flex;
    justify-content: space-between;
  }

  .sns > .icon {
    width: 20px;
    height: 20px;
  }
  
  .link {
    width: 67.5%;
    height: auto;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    font-size: 12px;
    font-weight: bold;
    margin: 0 1%;
  }
}
