.information-block {
  width: 250px;
  margin: 0 30px;
  height: 125px;
  display: flex;

  .icon {
    width: 20%;
    height: auto;
    line-height: 125px;
  }
  .icon > .image {
    width: 40px;
    line-height: 100px;
    margin: 0 auto;
  }
  .info {
    width: 80%;
    height: auto;
  }
  .info > .title {
    font-size: 12px;
    text-align: left;
    padding: 3%;
  }
  .info > .mainmessage {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 1%;
  }
  .info > .submessage {
    font-size: 12px;
    text-align: left;
    padding: 2%;
  }
}
