//perfect-scrollbar
.ps {
  height: 400px;
  border: 1px solid white;

.ps-block {
  height: auto;
  display: flex;
  margin: 3%;
  padding: 3%;
  border-bottom: 1px solid #f1f1f1;
}

.ps-block > .post {
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
}
.ps-block > .date {
  width: 15%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
}