.price-card-block {
  width: 90%;
  height: 750px;
  margin: 0% auto 10%;
  background-color: white;

  .content > .info {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 5% 0 0;
  }

  .content > .info > .title {
    width: 65%;
    margin: 0 auto;
    font-size: 12px;
    padding: 0 0 1.5%;
    border-bottom: solid 1px black;
  }
  .content > .picture {
    width: 100%;
    height: 200px;
  }

  .content > .info > .message {
    width: 100%;
    height: auto;
    margin: 8% auto;
    font-size: 16px;
    font-weight: bold;
  }

  .customize {
    width: 50%;
    height: auto;
    margin: 5% auto;
    border: solid;
    padding: 2%;
  }

  .customize > .menu > .item {
    font-size: 12px;
    font-weight: bold;
    margin: 5% 0;
  }
  .customize > .price > .excludingtax {
    font-weight: bold;
    font-size: 30px;
  }

  .customize > .price > .includingtax {
    font-weight: bold;
    font-size: 15px;
  }
}
