.right-image-card-container {
  width: 90%;
  height: auto;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;

  .picture {
    width: 45%;
    height: auto;
    margin: 0 auto;
  }
  .info {
    width: 45%;
    height: auto;
    margin: 10% auto;
  }
  .info > .title {
    width: 30%;
    height: auto;
    margin: 5% 0;
    font-size: 13px;
    border-bottom: 1px solid black;
  }

  .info > .mainmessage {
    font-size: 25px;
    font-weight: bold;
    margin: 5% 0;
  }

  .info > .submessage {
    font-size: 15px;
    margin: 5% 0;
  }
}
