.carousel-container{
  width: 100%;
  height: auto;
}

.carousel-main-message{
  width: 100%;
  font-size: 35px;
  font-weight: bold;

}
.carousel-sub-message{
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin: 1% 0;
  
}
.line{
  border-right: 1px solid black;
  width: 50%;
  height: 50px;
  margin: 2% 0;
  
}
.VueCarousel-pagination{
  display: none;
}