// discription
.description-block {
  padding: 3%;

  >.info > .title {
    font-size: 12px;
    font-weight: bold;
    width: 15%;
    margin: 0 auto 1%;
    padding-bottom:0.5% ;
    border-bottom: 1px solid black;
  }

  >.info >.message {
    font-weight: bold;
    font-size: 25px;
  }
}
