.product-container {
  width: 70%;
  margin: 5% auto;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  padding: 5% 2.5%;

   >.picture {
    width: 58%;
  }
  
  >.picture > .image {
    width: 110%;
    position: relative;
    left: -15%;
    top: 0;
  }
  
  > .content {
    width: 40%;
    margin: 0 auto;
  }

  >.content > .title {
    width: 40%;
    margin: 5% 0;
    font-size: 12px;
    border-bottom: solid 1px black;
  }

  >.content > .headline {
    font-size: 25px;
    font-weight: bold;
    margin: 5% 0;
    text-align: left;
    // 全体にtext-align centerをかけているため
  }
  >.content > .text {
    font-size: 15px;
    font-weight: bold;
    margin: 5% 0;
    text-align: left;
  }

  >.content > .feature {
    background-color: #f1f1f1;
    padding: 1%;
    text-align: left;
    margin: 5% 0;
  }
  >.content > .feature > .item {
    margin: 2%;
    font-size: 15px;
    font-weight: bold;
  }

  >.content > .price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 8% 0;
  }
  >.content > .price > .ship {
    width: 20%;
    border: 1px solid black;
  }
  >.content > .price > .excludingtax {
    width: 50%;
    font-weight: bold;
    font-size: 50px;
  }
  >.content > .price > .includingtax {
    width: 30%;
    font-size: 15px;
  }
  >.content > .diagnosis-button {
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    margin: 2%;
    padding: 4%;
  }
}
