// 黒系
$black: #000;

// グレー系
$grey: #808080;
$grey-hydrargyrum: #9c9b9b;
$grey-unique-gray: #c9c9c9;
$grey-silver: #bfbfbf;
$grey-cerebral-grey: #ccc;
$grey-weathered-stone: #c4c4c4;
$unicorn-silver: #e8e8e8;

// 白系
$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.9);
$white-edgar: #ededed;
$white-dr-white: #fafafa;

// 赤系
$red-kendall-rose: #f9cccc;
$red-khmer-curry: #eb5757;

// シャドー用カラー
$shadow-black: #0000004d;
